form {
    width: 100%;
}

body {
    background-color: #4F7CAC;
}



.stat{
    border-bottom: 1px solid #931621;
    margin-right: 20px; 
}

.stat span {
    float: right;
}

#chat_log {
    height: 123px;
    width: 100%;
    background-color: darkgray;
}

#match_chat_input{
    width: calc(100% - 60px) !important;
}

#choice_buttons{
    width: 100%;
}

#choice_buttons button {
    height: 50px;
}

.faded {
    opacity: 0.5;
}

#overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(104, 101, 101, 0.7);
    top: 0;
}
#opponent_choice {
    width: 70%;
}

#player_choice {
    width: 70%;
}

#username_prompt{
    color: #bebebe;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 600px;
    background: rgb(51, 104, 67);
}

#username_prompt form {
    margin-top: 70px;
}

#user_button {
    color: black;
}

#username_input{
    color: black;
}

#lobby_heading {
    position: relative;
}

#lobby_heading span button {
    position: absolute;
    right: 0px;
    bottom: 10px;
}

#display{
    min-height: 75px;
    position: relative;
    text-align: center;
    background-color: rgb(51, 104, 67);
    
}

#count_down{
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(51, 104, 67);
    top: 0;
}